
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* Shared Style */
.display-flex{
    display: flex;
}
.btn-primary{
    width: 197px;
    height: 50px;
    background-color: #111111;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 12px;
}
/* Colors */
.orange{
    color: #FEA301;
}
.skyblue{
    color: #01ACFD;
}
.l-blue{
    color: #05D4DF;
}
.n-blue{
    color: #5D58EF;
}
.violet{
    color: #8700FF;
}
/* Navigation Bar */
.navbar{
    justify-content: space-around;
    align-items: center;
    margin: 0rem 8.75rem;
}
nav img{
    /* margin-left: 140px; */
    max-width: 62px;
    max-height: 62px;
}
/* .item-container{
    margin-left: 186px;
} */
nav ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
    /* margin-left: 11.6rem; */
}
nav a{
    text-decoration: none;
}
.nav-btn{
    width: 197px;
    height: 50px;
    background-color: #FEA301;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 12px;
}
/* Banner */
.banner{
    margin: 20px 140px;
    max-width: 1160px;
    max-height: 575px;
    align-items: center;
    gap: 50px;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
}
.banner-description{
    color: #111111;
    font-size: 20px;
}
.banner img{
    width: 100%;
}
/* Curriculum Section */
.curriculum{
    background-image: url(../assets/bg.png);
    
}
.curriculum-title{
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 60px auto;
}
.curriculum-cards{
    margin: 80px 140px;
    gap: 30px;
}
.cards{
    /* border: 2px solid tomato; */
    max-width: 367px;
    max-width: 476px;
    justify-content: center;
    text-align: center;
    border-radius: 19px;
    box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.card-image{
    max-width: 135px;
    max-height: 135px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.card-header{
    font-size: 25px;
    font-weight: bold;
}
.card-description{
    font-size: 15px;
    font-weight: 400px;
    color: #808080;
}
.grad-blue{
    /* height: 120px; */
    background-color: #DEF5FF;
    background-image: linear-gradient(180deg,#DEF5FF,#FFFFFF);
}
.grad-orange{
    /* height: 120px; */
    background-color: #FFF4DC;
    background-image: linear-gradient(180deg,#FFF4DC,#FFFFFF);
}
.grad-violet{
    /* height: 120px; */
    background-color: #F2E8FF;
    background-image: linear-gradient(180deg,#F2E8FF,#FFFFFF);
}
.card-btn{
    font-size: 16px;
    border: none;
    background-color: white;
}
.btn-container{
    /* border: 2px solid tomato; */
    margin-top: 80px;
    margin-bottom: 60px;
    padding-left: 645px;
}
.move-icon{
    max-width: 80px;
    max-height: 80px;
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius: 50%; 
}