
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* Shared Style */
.display-flex{
    display: flex;
}
.btn-primary{
    width: 197px;
    height: 50px;
    background-color: #111111;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 12px;
}
/* Colors */
.orange{
    color: #FEA301;
}
.skyblue{
    color: #01ACFD;
}
.l-blue{
    color: #05D4DF;
}
.n-blue{
    color: #5D58EF;
}
.violet{
    color: #8700FF;
}
/* Background Color */
.bg-skyblue{
    background-color: #3CD8E8;
}
.bg-green{
    background-color: #95B226;
}
.bg-violet{
    background-color: #5D58F0;
}
/* Navigation Bar */
.navbar{
    justify-content: space-around;
    align-items: center;
    margin: 0rem 8.75rem;
}
nav img{
    /* margin-left: 140px; */
    max-width: 62px;
    max-height: 62px;
}
/* .item-container{
    margin-left: 186px;
} */
nav ul li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 2rem;
    /* margin-left: 11.6rem; */
}
nav a{
    text-decoration: none;
}
.nav-btn{
    width: 197px;
    height: 50px;
    background-color: #FEA301;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 12px;
}
/* Banner */
.banner{
    margin: 20px 140px;
    max-width: 1160px;
    max-height: 575px;
    align-items: center;
    gap: 50px;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
}
.banner-description{
    color: #111111;
    font-size: 20px;
}
.banner img{
    width: 100%;
}
/* Curriculum Section */
.curriculum{
    background-image: url(../assets/bg.png);
    
}
.curriculum-title{
    font-size: 60px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 60px auto;
}
.curriculum-cards{
    margin-top: 80px;
    margin-right: 140px;
    margin-left: 140px;
    gap: 30px;
}
.cards{
    /* border: 2px solid tomato; */
    max-width: 367px;
    max-width: 476px;
    justify-content: center;
    text-align: center;
    border-radius: 19px;
    box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.card-image{
    max-width: 135px;
    max-height: 135px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.card-header{
    font-size: 25px;
    font-weight: bold;
}
.card-description{
    font-size: 15px;
    font-weight: 400px;
    color: #808080;
}
.grad-blue{
    /* height: 120px; */
    background-color: #DEF5FF;
    background-image: linear-gradient(180deg,#DEF5FF,#FFFFFF);
}
.grad-orange{
    /* height: 120px; */
    background-color: #FFF4DC;
    background-image: linear-gradient(180deg,#FFF4DC,#FFFFFF);
}
.grad-violet{
    /* height: 120px; */
    background-color: #F2E8FF;
    background-image: linear-gradient(180deg,#F2E8FF,#FFFFFF);
}
.card-btn{
    font-size: 16px;
    border: none;
    background-color: white;
}
.btn-container{
    /* border: 2px solid tomato; */
    margin-top: 80px;
    margin-bottom: 60px;
    padding-left: 645px;
}
.move-icon{
    max-width: 80px;
    max-height: 80px;
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius: 50%; 
}
/* Stories Section */
.stories{
    /* max-width: 1440px; */
    margin-right: 140px;
    margin-left: 140px;
    background-image: linear-gradient(
        0deg,
        rgba(254, 163, 1, 1),
        rgba(255, 255, 255, 1)
    );
    /* url(../assets/bg.png); */
}
.card-header{
    text-align: center;
    font-size: 46px;
    margin-top: 60px;
    margin-bottom: 80px;

}
.stories > div{
    width: 50%;
    gap: 19px;
}
.stories-card{
    display: flex;
    max-width: 540px;
    max-height: 630px;   
}
.stories img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.Card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
    /* max-width: 540px;
    max-height: 630px; */
}
.big-image-container{
    background-color: white;
    border-radius: 16px;
}
.Card-container h5{
    font-size: 16px;
    font-weight: bold;
    /* padding: 23px 71px 33px 38px; */
    margin: 0px 38px 28px 37px;
}
.image-container {
    /* border: 2px solid tomato; */
    background-color: white;
    border-radius: 16px;
    max-width: 290px;
    max-height: 301px;
    
}
.big-image-container h5{
    font-size: 1.5rem;
}
.big-image-container .stories-title{
    margin: 58px 38px 0px 38px;
}
.big-image-container .stories-description{
    margin: 40px 48px 60px 34px;
    font-size: 16px;
    font-weight: 400px;
    color: #666666;

}
.stories-title{
    font-size: 1rem;
    /* padding: 60px 100px 50px 40px; */
}
.date-btn{
    max-width: 174px;
    max-height: 48px;
    border: none;
    font-size: 15px;
    color: white;
    font-weight: 400px;
    padding: 14px 18px;
    border-radius: 48px;
    position: relative;
    left: 30px;
    top: -30px;

}
.view-btn{
    margin: 60px auto;
    
}